<!DOCTYPE html>
<html>
  <head>
  {% if title %}
    <title>{{ title }} | Finance</title>
  {% else %}
    <title>Finance</title>
  {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  </head>
{% if onload_function %}
  <body onload="{{ onload_function }}">
{% else %}
  <body>
{% endif %}
    {% include 'base_nav.html' %}

    <form name="form">
      {% block form_body %}{% endblock %}

      <a class="waves-effect waves-light btn right" onclick="submitForm(); return false;">Submit</a>
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% block page_script %}{% endblock %}
  </body>
</html>
