{% extends 'base.html' %}

{% block content %}
  {% block page_content %} {% endblock%}

  <div id="progress-bar" class="progress">
    <div class="indeterminate"></div>
  </div>

  <table style="visibility: hidden;">
    <thead>
      {% block table_header %}{% endblock %}
    </thead>
    <tbody id="table-body">

    </tbody>
  </table>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="{{ table_add_link }}"><i class="material-icons">+</i></a>
</div>
{% endblock %}
