{% extends "base_table.html" %}
{% set title = 'Mutations' %}
{% set onload_function = 'loadMutations();' %}
{% set table_add_link = '/mutations/add-form' %}

{% block page_content %}
<form name="form" style="display: none;">
  <div class="row">
    <div class="input-field col s12">
      <select id="from-options" name="from" onchange="generateTable();">
        <option value="all">All</option>
      </select>
      <label>From</label>
    </div>
  </div>
</form>
{% endblock %}

{% block table_header %}
  <th>Date</th>
  <th>Thing</th>
  <th>From</th>
  <th>To</th>
  <th>Amount</th>
  <th>From Left</th>
{% endblock %}
{% block page_script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/mutation.js') }}"></script>
{% endblock %}
